body {
  background: #eae9e9;
}
h1{
  text-align: center;
}
*{
  color: rgb(104, 104, 103);
}
.box {
  border: 1px solid #d0cfcf;
  border-radius: 4px;
  padding: 2em;
  background: white;
  margin: 1em auto;
  width: 35%;
}
h1.box-logo a {
  text-decoration: none;
  color: #6c3939;
  font-size: 1.2em;
}
h1.box-title {
  color: #AEAEAE;
  /* background: #f8f8f8; */
  font-weight: 300;
  padding: 1em 1em 0.5em 1em;
  line-height: 30px;
  font-size:1.6em;
  text-align: center;
  margin: -27px -26px 26px;
}
.box-input {
  font-size: 1em;
  background: #fff;
  border: 1px solid #ddd;
  margin-bottom: 1.8em;
  padding-left: 1em;
  border-radius: 5px;
  width: 95%;
  height: 40px;
}
.box-inputv2{
  font-size: 0.8em;
  background: #fff;
  border: 1px solid #ddd;
  margin-bottom: 1em;
  padding-left: 1em;
  border-radius: 5px;
  width: 95%;
  height: 40px;
}
.box-button {
  border-radius: 5px;
  background: #58af61;
  text-align: center;
  cursor: pointer;
  font-size: 1em;
  width: 100%;
  height: 2em;
  padding: 0;
  color: #fff;
  border: 0;
  outline: 0;
}
.box-buttonv2 {
  border-radius: 5px;
  background: #58af61;
  text-align: center;
  cursor: pointer;
  font-size: 1em;
  width: 100%;
  height: 2em;
  padding: 0;
  color: #fff;
  border: 0;
  outline: 0;
}
.box-register a {
  text-decoration: none;
  font-size: 1em;
  color: #4e4e4e;
}
.box-input:focus {
    outline: none;
    border-color:#5c7186;
}

.sucess{
	text-align: center;
	color: white;
  font-size: 2em;
}
.sucess h2{
  text-align: center;
}
.sucess a {
	text-decoration: none;
	color: #0d84ec;
}
legend{
  font-size: 1em;
  text-align: center;
}

.form{
  align-content: center;
  width:50%;
  padding-left: 25%;
  padding-right: 25%;
}
.form input:focus{
  border: 2px dashed #747474;
  outline: none;
}
.form label{
  font-size: 1em;
}
p.errorMessage {
    background-color: #e66262;
    border: #AA4502 1px solid;
    padding: 5px 10px;
    color: #FFFFFF;
    border-radius: 3px;
}
li.tabord{
  font-size: 1.2em;
  list-style: none;
}
ul.tabord{
  list-style: none;
}
#retour5, a.sucess{
  text-decoration: none;
	color: #0d84ec;
  font-size: 1.2em;
}
.resett{
  border-radius: 5px;
  background: #AA4502;
  cursor: pointer;
  font-size: 19px;
  color: #fff;border: 0;
  outline: 0;
  height: 2em;
  padding: 0;
  width:5em;
}
.submitt{
  border-radius: 5px;
  background: #58af61;
  cursor: pointer;
  font-size: 19px;
  color: #fff;
  border: 0;
  outline: 0;
  height: 2em;
  padding: 0;
  width:5em;
}

/* responsive styles */

@media screen and (max-width: 1200px){
.box-input {
    font-size: 0.8em;
}
.box-button {
  border-radius: 5px;
  background: #58af61;
  text-align: center;
  cursor: pointer;
  font-size: 0.6em;
  width: 100%;
  height: 2em;
  padding: 0;
  color: #fff;
  border: 0;
  outline: 0;
}
}
@media screen and (max-width: 1024px){
  .box-input {
    font-size: 0.7em;
}
}

@media screen and (max-width: 900px){

  .box {
    margin: 6em auto;
  }
  
  .box-input {
    font-size: 0.6em;
  }

}

@media screen and (max-width: 768px){
  .box{
    width: 18em;
  }
  .box-input {
    font-size: 0.5em;
  }
  .box-button {
    width: 105%;
  }
}

@media screen and (max-width: 600px){  
  .box{
    width: 18em;
  }
  .box-input {
    font-size: 0.4em;
  }
  .box-button {
    width: 105%;
  }
  
}

@media screen and (max-width: 480px){
  .box{
    width: 15em;
  }
  .box-input {
    font-size: 0.4em;
    height: 40px;
  }
  .box-button {
    width: 100%;
  }
} 

@media screen and (max-width: 320px){
  .box{
    width: 12em;
  }
  .box-input {
    font-size: 0.4em;
  }
  .box-button {
    width: 105%;
  }
}  

/* management style : */

@media screen and (max-width: 1200px){
  h3{
    font-size: 1em;
  }
  .form label{
    font-size: 0.4em;
  }

}

@media screen and (max-width: 1024px){
  h3{
    font-size: 1em;
  }
  legend{
    font-size: 0.8em;
  }
}

@media screen and (max-width: 900px){

  h3{
    font-size: 0.8em;
  }
  legend{
    font-size: 0.7em;
  }

}

@media screen and (max-width: 768px){
  h3{
    font-size: 0.8em;
  }
  legend{
    font-size: 0.7em;
  }
  .resett{
    font-size: 0.5em;
    width:5em;
  }
  .submitt{
    font-size: 0.5em;
    width:5em;
  }
}

@media screen and (max-width: 600px){  
  .form{
    align-content: center;
    width:75%;
    padding-left: 10%;
  }
  h3{
    font-size: 0.8em;
  }
  legend{
    font-size: 0.6em;
  }
  .form label{
    font-size: 0.5em;
  }
  .form{
    align-content: center;
    width:75%;
    padding: 0 ;
    padding-left: 12%;
  }
}

@media screen and (max-width: 480px){
  h3{
    font-size: 0.5em;
  }
  .form{
    align-content: center;
    width:75%;
    padding: 0 ;
    padding-left: 12%;
  }

} 

@media screen and (max-width: 320px){
  h3{
    font-size: 0.5em;
  }
}  